= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        = nav_link(path: 'projects#edit') do
          = link_to edit_project_path(@project.namespace, @project), title: 'General' do
            %span
              General

        = nav_link(path: 'project_members#index') do
          = link_to namespace_project_project_member_path(@project.namespace, @project), title: 'Community' do
            %span
              Community

        = nav_link(path: 'hooks#index') do
          = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Connections' do
            %span
              Connections

        = nav_link(path: 'deploy_keys#index') do
          = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Permissions' do
            %span
              Permissions

        = nav_link(path: 'runners#index') do
          = link_to namespace_project_milestones_path(@project.namespace, @project), title: 'Automation' do
            %span
              Automation
